:root {
  --bg: #f8fafc;
  --text: #0f172a;     /* darker */
  --muted: #1f2933;   /* darker secondary text */
  --primary: #15803d;
  --card: #ffffff;
  --border: #d1d5db;
  --chip: #e5f7ee;
}


/* DARK MODE */
[data-theme="dark"] {
  --bg: #0f172a;
  --text: #f8fafc;
  --muted: #cbd5e1;
  --primary: #22c55e;
  --card: #020617;
  --border: #1e293b;
  --chip: #052e16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
